.about {
  span {
    color: $primary;
    font-size: 0.9rem;
  }
  .container {
    font-size: 0;
  }
  article {
    font-size: 1rem;
    padding: 1rem 3.5rem;

    flex: 0 1 45%;
  }
  .leader-img-container {
    flex: 0 1 45%;
  }
}

.company-vision-section {
  i {
    font-size: 3rem;
    color: $footer-primary;
    &:hover {
      color: $hover;
    }
  }
  .company-vision-div {
    margin-bottom: 1rem;
    h6 {
      font-weight: 400;
      margin-bottom: 0;
      color: $primary-text-color;
    }
  }
}

.about-team {
  background: $secondary;
  .team-member {
    text-align: center;
    box-shadow: 0 0 4px rgba($color: #000000, $alpha: 0.1);
    p {
      color: $primary-text-color;
    }
    .role {
      color: $primary;
      font-size: 0.8rem;
    }
  }
}

.about-solution {
  .title {
    max-width: 730px;
    width: 100%;
    margin: 0 auto;
    h2 {
      margin-bottom: 2rem;
    }
  }
}
