.about-hero {
  background: $primary;
  padding: 2rem 0;
  .title {
    h2,
    p {
      color: #fff;
    }
  }
}

.about {
  span {
    color: $primary;
    font-size: 0.9rem;
  }
  .container {
    font-size: 0;
  }
  article {
    font-size: 1rem;
    padding: 1rem 3.5rem;

    flex: 0 1 45%;
  }
  .leader-img-container {
    flex: 0 1 45%;
  }
}

.company-vision-section {
  i {
    font-size: 3rem;
    color: $footer-primary;
    &:hover {
      color: $hover;
    }
  }
  .company-vision-div {
    margin-bottom: 1rem;
    h6 {
      font-weight: 400;
      margin-bottom: 0;
      color: $primary-text-color;
    }
  }
}
