@import url("https://fonts.googleapis.com/css2?family=Archivo:wght@300;400;500;600;700;800&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
}

.container {
  max-width: 1280px;
  width: 100%;
  margin: 0 auto;
  padding: 0 2rem;
}

.flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

body {
  font-family: "Archivo", sans-serif;
  line-height: 1.5;
}

a {
  text-decoration: none;
}

.full-width {
  max-width: 100%;
}

.social-link-list {
  a {
    margin-left: 2rem;
  }
}
