$primary: #dc3c45;
$secondary: #f8f9fa;
$primary-text-color: #1b1e24;
$secondary-text-color: #8a9197;
$footer-primary: #343a40;
$footer-primary-text-color: #bbbbbc;
$footer-secondary-text-color: #8a8a8b;
$hover: #f47a7c;
