@import url("https://fonts.googleapis.com/css2?family=Archivo:wght@300;400;500;600;700;800&display=swap");
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.container {
  max-width: 1280px;
  width: 100%;
  margin: 0 auto;
  padding: 0 2rem;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.flex-20 {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 20%;
          flex: 0 1 20%;
}

.flex-30 {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 30%;
          flex: 0 1 30%;
}

.flex-45 {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 45%;
          flex: 0 1 45%;
}

.flex-80 {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 80%;
          flex: 0 1 80%;
}

body {
  font-family: "Archivo", sans-serif;
  line-height: 1.7;
}

a {
  text-decoration: none;
}

p {
  color: #8a9197;
  font-weight: 300;
}

h1 {
  font-weight: 800;
  font-size: 4rem;
  text-transform: uppercase;
  line-height: 1.1;
}

h2 {
  font-weight: 800;
  font-size: 2.8rem;
  color: #1b1e24;
}

h3 {
  font-weight: 800;
  font-size: 2rem;
  text-transform: capitalize;
  color: #1b1e24;
}

h6 {
  font-size: 1rem;
  font-weight: 800;
  margin-bottom: 1rem;
}

.full-width {
  max-width: 100%;
}

.padding {
  padding: 6rem 0;
}

.social-link-list a {
  margin-left: 2rem;
}

.btn {
  display: inline-block;
  padding: 0.3rem 1.5rem;
  border-radius: 20px;
  margin-top: 1rem;
  font-weight: 300;
}

.btn-primary {
  background: #dc3c45;
  color: #fff;
}

.btn-primary:hover {
  background: #fff;
  outline: 2px solid #dc3c45;
  color: #dc3c45;
}

.btn-secondary {
  border: 2px solid #dc3c45;
  color: #dc3c45;
  background: transparent;
}

.btn-secondary:hover {
  color: #fff;
  background-color: #dc3c45;
}

.btn-tertiary {
  border: 2px solid #fff;
  color: #fff;
  background: #dc3c45;
}

.btn-tertiary:hover {
  color: #dc3c45;
  background: #fff;
}

.title {
  text-align: center;
  margin-bottom: 4rem;
}

.card {
  padding: 1rem;
  text-align: center;
  border-radius: 8px;
  -webkit-box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.2);
}

.card img {
  width: 50px;
  margin-bottom: 1rem;
}

.card h6 {
  color: #1b1e24;
}

.card p {
  margin-bottom: 1rem;
}

footer {
  background: #343a40;
}

footer .footer-heading {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 20%;
          flex: 0 1 20%;
  -ms-flex-item-align: start;
      align-self: flex-start;
}

footer .footer-heading h6 {
  color: #bbbbbc;
}

footer .footer-heading a {
  color: #8a8a8b;
  display: inline-block;
  margin-bottom: 1rem;
}

footer .footer-heading a:hover {
  color: #f47a7c;
}

footer .footer-heading .social-link-list a {
  margin-left: 0;
  margin-right: 2rem;
}

footer .title {
  font-size: 0.9rem;
  margin-top: 2rem;
}

footer .title span {
  color: #bbbbbc;
}

.other-page-hero {
  background: #dc3c45;
  padding: 2rem 0;
}

.other-page-hero .title h2,
.other-page-hero .title p {
  color: #fff;
}

.about span {
  color: #dc3c45;
  font-size: 0.9rem;
}

.about .container {
  font-size: 0;
}

.about article {
  font-size: 1rem;
  padding: 1rem 3.5rem;
}

.company-vision-section i {
  font-size: 3rem;
  color: #343a40;
}

.company-vision-section i:hover {
  color: #f47a7c;
}

.company-vision-section .company-vision-div {
  margin-bottom: 1rem;
}

.company-vision-section .company-vision-div h6 {
  font-weight: 400;
  margin-bottom: 0;
  color: #1b1e24;
}

.about-team {
  background: #f8f9fa;
}

.about-team .team-member {
  text-align: center;
  -webkit-box-shadow: 0 0 4px rgba(0, 0, 0, 0.1);
          box-shadow: 0 0 4px rgba(0, 0, 0, 0.1);
}

.about-team .team-member p {
  color: #1b1e24;
}

.about-team .team-member .role {
  color: #dc3c45;
  font-size: 0.8rem;
}

.about-solution .title {
  max-width: 730px;
  width: 100%;
  margin: 0 auto;
}

.about-solution .title h2 {
  margin-bottom: 2rem;
}

.price .title {
  max-width: 750px;
  width: 100%;
  margin: 0 auto;
}

.price-container {
  margin-top: 3rem;
}

.price-container .card {
  font-size: 0.9rem;
}

.price-container .card header {
  margin-bottom: 2rem;
}

.price-container .card header .card-title {
  color: #1b1e24;
  font-size: 1rem;
}

.price-container .card p {
  color: #343a40;
}

.price-container .card .includes {
  color: #1b1e24;
}

.price-container .card .license {
  color: #8a9197;
}

.faq .title h3 {
  color: #1b1e24;
  margin-bottom: 2rem;
}

.faq .faqs .card {
  text-align: left;
  margin-bottom: 2rem;
}

.header-contacts {
  background: #dc3c45;
  padding: 1rem 0;
}

.header-contacts a {
  color: #fff;
  font-weight: 300;
}

.header-contacts a:hover {
  color: #343a40;
}

.header-contacts .contact-list a {
  margin-right: 2rem;
}

.navbar {
  background: #f8f9fa;
}

.navbar .logo {
  color: #1b1e24;
  font-weight: 700;
  font-size: 2rem;
}

.navbar .logo span {
  color: #dc3c45;
}

.navbar .nav-list li {
  margin-left: 2rem;
}

.navbar .nav-list li a {
  color: #1b1e24;
  display: inline-block;
  padding: 1.5rem 0.6rem;
  width: 100%;
  font-weight: 600;
}

.navbar .nav-list li a:hover {
  background: #f47a7c;
  color: #fff;
}

.navbar .nav-list .sub-menu-box {
  position: relative;
}

.navbar .nav-list .sub-menu-box:hover .sub-menu {
  display: inline-block;
}

.navbar .nav-list .sub-menu-box i {
  margin-left: 0.8rem;
}

.navbar .nav-list .sub-menu {
  position: absolute;
  top: 100%;
  left: 0%;
  width: 140px;
  display: none;
  background: #f8f9fa;
}

.navbar .nav-list .sub-menu li {
  margin: 0;
}

.hero {
  background: url(../assets/media/banner-1.jpg) no-repeat;
  background-position: right center;
  background-size: cover;
  height: 80vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #1b1e24;
}

.hero p {
  margin-top: 1rem;
  font-size: 1.2rem;
  color: #1b1e24;
  text-transform: capitalize;
}

.solutions {
  background: #f8f9fa;
}

.solutions .title {
  max-width: 730px;
  width: 100%;
  margin: 0 auto;
}

.solutions h2 {
  margin-bottom: 1rem;
}

.solutions p {
  margin-bottom: 1rem;
}

.team article {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 45%;
          flex: 0 1 45%;
  text-align: center;
  padding: 1rem 3.5rem;
}

.team article img {
  width: 50px;
  margin-bottom: 1rem;
}

.team .team-img-container {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 45%;
          flex: 0 1 45%;
}

.quote {
  background: #dc3c45;
  padding: 4rem 0;
  line-height: 1.1;
  color: #fff;
}

.quote .quote-div p {
  color: #fff;
}

.leader {
  padding-top: 6rem;
}

.leader article {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 45%;
          flex: 0 1 45%;
  padding: 1rem 3.5rem;
}

.leader article h3 {
  text-transform: none;
}

.leader .leader-img-container {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 45%;
          flex: 0 1 45%;
}

.clients {
  background: #f8f9fa;
}

.clients .client-img-container img {
  max-width: 130px;
  width: 100%;
  -webkit-filter: grayscale(1);
          filter: grayscale(1);
}

.clients .client-img-container img:hover {
  -webkit-filter: grayscale(0);
          filter: grayscale(0);
}
/*# sourceMappingURL=style.css.map */